<nav class="navbar">
    <div class="left-nav">
        <div class="logo">
            <img src="assets/images/icon.svg" alt="icon image">
            <span>ClickTik</span>
        </div>
        <div class="home">
            <a routerLink="products" class="font-color-gray"> Home </a>
        </div>
    </div>
    <div class="right-nav">
        <a *ngIf="!(isLoggedIn$ |async)" routerLink="/auth" class="font-color-gray"> Log in </a>

        <img class="search-icon" *ngIf="(isLoggedIn$ |async)" src="assets/images/search.png" alt="search icon">
        <input (input)="searchedWordChanged($event)" class="search-input" *ngIf="(isLoggedIn$ |async)" type="search"
            title="search" name="search">
        <div *ngIf="(isLoggedIn$ |async)" class="cart">
            <span class="badge">
                {{cartProductIds.length}}
            </span>
            <img class="cart-img" src="assets/images/cart.png" alt="cart">

        </div>

        <a (click)="ToLoginPage()" *ngIf="(isLoggedIn$ |async)" routerLink="/auth" class="font-color-gray"> Account </a>
    </div>
</nav>