@import "../assets/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        min-height: 4.5rem;
    }
    .content {
        margin-left: 5%;
        flex: auto;
        //  @include flex-div(flex-start, flex-start, row);
    }
    .footer {
        min-height: 4rem;
    }
}
