@import "../../../../assets/mixins.scss";
.page-header {
    .breadcrumb {
        margin-bottom: 1rem;
    }
}
.container {
    display: flex;
    .products {
        margin-left: 1rem;
        flex: 7;
    }
}
