<div *ngIf="product" class="card">
    <div class="discound price">- {{product.discountPercentage}}%</div>
    <img class="cover" [src]="product.images![0]" alt="">
    <div class="card-body">
        <p class="product-title font-bold-600 font-color-dark">{{product.title}}</p>
        <p class="description font-color-gray">{{product.description}} </p>
        <div class="price-discound">
            <span class="old-price"> <span class="price">{{product.price}} </span>USD</span>
            <span class="new-price">
                <span class="price">
                    {{ (product.price! - (product.price! * product.discountPercentage!)) |
                    number:'1.0-2'}} USD</span>
            </span>
        </div>
        <div class="brand">
            Brand: <span class="brad-name font-bold-600 font-color-dark"> {{product.brand}}</span>
        </div>
        <div class="category">
            Category: <span class="category-name font-bold-600 font-color-dark">{{product.category }}</span>
        </div>
        <div class="in-stock">
            In stock: <span class="in-stock-number price">{{product.stock }}</span>
        </div>
        <div class="rating price">
            <span> &#9733; {{product.rating}} </span>
        </div>
    </div>
</div>