@import "../../../../assets/mixins.scss";

footer {
    @include flex-div(space-between, row);

    height: 100%;
    background-color: #1d2939;
    .logo {
        margin-left: 5%;
        @include flex-div(center, row);
        span {
            color: white;
            margin-left: 4px;
        }
    }
    .copy-write {
        margin-right: 5%;
        color: #98a2b3;
    }
}
