/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0px;
    height: 100%;
    font-family: sans-serif;
}
.font-color-gray {
    color: #667085;
}
.label {
    margin: 0.5rem 0rem;
    color: #344054;
}
input:not([type="checkbox"]) {
    padding: 0rem 0.5rem;
    width: 93%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background-color: white !important;
    outline: none;
}
.mt-1 {
    margin-top: 1rem;
}
.error {
    color: #f64040;
    font-size: small;
    margin: 0.4rem 0rem;
}
