/* You can add global styles to this file, and also import other style files */
$font-color-dark: #344054;
$font-color-gray: #667085;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
html,
body {
    margin: 0px;
    height: 100%;
    font-family: sans-serif;
}
// scroll style
::-webkit-scrollbar {
    height: 6px;
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e1e5e9;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8f9bb3;
    border-radius: 10px;
}
// end scroll
.font-color-gray {
    color: $font-color-gray;
}
.label {
    margin: 0.5rem 0rem;
    color: #344054;
}
input:not([type="checkbox"]) {
    padding: 0rem 0.5rem;
    width: 93%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background-color: white !important;
    outline: none;
}
.mt-1 {
    margin-top: 1rem;
}
.error {
    color: #f64040;
    font-size: small;
    margin: 0.4rem 0rem;
}
.capitalize {
    text-transform: capitalize;
}
.font-bold-600 {
    font-weight: $font-weight-600;
}
.font-bold-700 {
    font-weight: $font-weight-700;
}
.font-bold-800 {
    font-weight: $font-weight-800;
}
.font-color-dark {
    color: $font-color-dark;
}
.price {
    color: $font-color-dark;
    font-weight: $font-weight-800;
}
.currency {
    font-size: 1.2rem;
}
